.features {
  padding-top: 30px;
  padding-bottom: 30px;
}

.features__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features__item {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features__img {
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #e2e2e2;
  color: @orange;
  font-size: 27px;
}

.features__info {
  width: 70%;
}
