@media (max-width: 1999px) {
  .wrapper {
    width: 100%;
  }
  .menu__link,
  .menu__subitem a {
    font-size: 11px;
  }
  .buy__text {
    justify-content: center;
    
    p {
      display: none;
    }
    span {
      margin-top: 0;
    }
  }
}

//----------------------------------
@media (max-width: 1022px) {
  .menu {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .menu__btn {
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    background-image: url(../img/icon-menu-ham-white.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
  }
  .menu__list {
    display: none;
  }
}